click
dvclive==0.0.10
dvc[s3]==2.5.0

jupyter
pillow
pip-tools
plotly
kaleido
pandas

# Optuna
optuna
mysqlclient

# Torch
torch
torchvision
torchaudio 
--extra-index-url https://download.pytorch.org/whl/cu116

pytorch-lightning
lightning-bolts

torchsummary

# Torch Serve
# torchserve==0.4.1
# torch-model-archiver==0.4.1
# torch-workflow-archiver==0.1.1

tensorboardX
tensorboard

streamlit
scikit-learn
wandb